<div class="head_bar" href = <%= drawing_pins_path %>>
    <h3 class="head_title"><strong ><%= link_to 'Maっ', drawing_pins_path ,class: "red"%><%= link_to 'ぷら', drawing_pins_path ,class: "black"%></strong></h3>

    <a >……ウェブのMAPでぷらぷらするアプリ。</a>
</div>
