


    <div class="">あいうえおかきくけこあいうえおかきくけこ</div>

<%= link_to "新規📍登録" ,new_drawing_pin_path ,class: "btn btn-default btn_head" %>

    <div class="">aa</div>
    <div class="">aa</div>

    <div class="">aa</div>
    <div class="">aa</div>
    <div class="">aa</div>

    <div class="">aa</div>
    <div class="">aa</div>
    <div class="">aa</div>

    <div class="">aa</div>
    <div class="">aa</div>
    <div class="">aa</div>
