<div class="create_form">
<div class="">

  <div class="line_info">
    <div class="line_content_1">
      <h3>このアプリケーションについて</h3>
    </div>
  </div>

  「Maっぷら」は、WebMap上で📍の間をぷらぷらできるようにするための制作ツールだ。<br>
  　あなたはつくったぷらぷらする計画（僕はこれを「プラン」と読んでいる）をパソコン上で眺めてニヤニヤしてもいいし、それをもとに現地へ足を運んでもいい（携帯電話で表示すると地図や文字が小さくなるけれど、そこには目をつぶってほしい）。あるいは出かける前に、友人や恋人ーー僕には縁遠い言葉だーーにその予定を説明することもできるかもしれない。<br><br>

  だけど、他のユーザーと交流する機能はほとんど設けていない。<br>
  これはあくまで【作るための道具】で、コミュニケーションは目的としていないからだ。<br><br>

  あなたが立てた📍が「いいね」されることはないし、苦労して作ったプランを「バズらせる」ための機能も存在しない（ああ、でも、逆にプランを誰かに見られないようにするための機能は用意しておいた。何か後ろめたいところがあるプランを作った暁には、気休め程度には活用できるかもしれない）。もしもあなたがそういった「つながり」を欲するなら、他のSNSを活用してほしい。作ったプランは誰でも見られるようにすることもできるから、そのURLを何かの投稿に貼り付ければそれなりの反応は得られるかもしれない（URLのコピー機能程度は……いまはまだ無いけれど、そのうち用意するつもりである）。<br>
  <br>

  そういうわけで前置きが長くなってしまったが（そう、僕は話の長くて面倒くさい人間なのだ）、アプリの使い方を説明していこうと思う。
  <br><br><br>

  <div class="line_info">
    <div class="line_content_1">
      <h4>プレゼンテーション画面ーーこのアプリケーションでやりたいこと</h4>
    </div>
  </div>
  前の前に勤めていた会社の社長からは、よく「結論から言え」と怒られていた。<br>
  なのでいったん順番は無視して、アプリで出来る制作物について先に触れておこうと思う。<br><br>

  ↓は僕が試しに作ってみたサンプルのプレゼンテーション画面だ。<br><br>

  <a href="http://mappura.com/plans/5/presentation" class="btn btn-primary btn-sm" >東海道五十三次</a><br><br>

  <a href="http://mappura.com/plans/4/presentation" class="btn btn-primary btn-sm" >シン・ゴジラ（パスワード：sin）</a><br><br>

  後者はボタンを押した後で、「sin」というパスワードを入力しないと画面を開けないようにしてある<br>
  ……あと名前から分かるように映画のネタバレを含んでいるので、閲覧は自己責任でお願いしたい。<br><br>

  画面下に並んでいる四角い箱（この一つ一つが<span class="pin_sample_blue"></span>のピンとなっている）をクリックすれば、それに該当するピンの位置へ地図が勝手に移動する。<br>
  そのピンを地図上でクリックすれば、その地点の情報ーー長々とした自己満足の文章や、登録されている写真や絵などーーを見ることも出来るだろう。<br>
  こういった【プレゼンなどに使えるかもしれない画面】を、自分の好きな内容について（あるいは他の誰かから命じられてイヤイヤながら）作成することがこのアプリの目的だ。<br><br><br>

  <div class="line_info">
    <div class="line_content_1">
      <h4>📍を作る</h4>
    </div>
  </div>
  上で書いたような画面を作るには、あなたは（よほどの運か人望に恵まれていなければ）まず自分で📍を作らなければならない。<br>
  📍を作るときにあなたはアプリにログインしてもいいし、しなくてもいいーーどちらの場合でも画面右に表示されている「📍を作る」ボタンを押せば、登録画面が表示されるだろう。<br>
  この画面では「📍名称」及び「緯度」「経度」は入力しないと登録出来ないようになっている。後の2つは面倒そうではあるが、全てを手で入力する必要はないだろう。表示されている地図をダブルクリックすればその地点の座標が自動で表示されるし、正しい住所情報を持っている場合はそれを入力した後で「住所→座標」ボタンを押しても同じく座標が表示される（逆に座標が入力されている状態で「座標→住所」ボタンを押すとーー住所は表示されるかもしれないし、されないかもしれない。特に座標地点が海面の場合は間違いなく表示されないし、海外の場合は非常にざっくりとした住所情報となるだろう（これはyahooMapの仕様なので、僕に文句を言われてもどうにも出来ない）。そういったときは諦めてそのまま登録するか(住所は入力されていなくても登録できるようにしてある)、ちまちまと自分で住所を入力してほしい)。<br><br>

  ああ、それと気をつけてほしい。ログインしないまま作った📍は「誰のものでもない📍」として、誰でも更新・削除することが出来るようになっている。作った📍を勝手に書き換えたり取り消されたくなかったら、諦めて早めにユーザー登録・ログインの処理をしてほしい（当初はログインせずに作った📍でもログインしてから更新すれば、それは「更新した人の📍」となる。逆に言えば「ログインしていない他の誰か」が作った📍でも、あなたは更新することで自分のものにすることが出来る）。<br><br><br>

  <div class="line_info">
    <div class="line_content_1">
      <h4>「プラン」「作業箱」を作る</h4>
    </div>
  </div>
  作った📍は地図上で表示できるようになるが、それをただ眺めているだけで面白く思える人間はそんなにいないだろう（いやまあ、よっぽど魅力的な写真か何かが📍に登録されていれば別だが）。必要な📍を集めて何かしたいとあなたが考えるのなら、集めた📍を入れる【箱】として「プラン」をつくるべきだ。<br>
  プランの作成は、他のユーザー情報と同じく「ユーザー情報編集」画面で編集する（ログインした状態で、画面左にある「ユーザープロフィール」ボタンを押せば「ユーザー情報編集」画面へのボタンをみつけられるだろう）。<br>
  ……そうつまり、プランはログインユーザーでないと作成できない。もしもあなたがここまでログインせずに作業してきていたなら、諦めてユーザー登録・ログインをしてほしい。<br><br>

  ちなみに「作業箱」（「ユーザー情報編集」画面でプランの横にある、同じような方法で登録出来るやつのことだ）というのは、【入れるプランは決まっていないが、そのうち使いそうな📍】を保存しておく【箱】のことだ。気になる📍はとりあえずここに放り込んでおいてもいいがーーあまりなんでも入れすぎると、僕の部屋のように整理しようがないほどゴチャゴチャした状態になってしまうかもしれない。<br><br>

  <div class="line_info">
    <div class="line_content_1">
      <h4>📍を見る</h4>
    </div>
  </div>
  プランを（ついでに作業箱を）作成したら、登録されている📍をあらためてを見てみよう。<br>
  画面左の「📍を見る」を押せば、登録されているピンの検索画面が表示される。ログインしていれば自分のピンだけが検索されるよう条件入力されているが、もちろん条件を取り消すことも出来る（だからあなたが強運の持ち主かよほど人望に恵まれているなら、他人が作った📍だけでプレゼンすることも可能かもしれない）。ちなみに画面を表示した段階ではまだ検索はされていないので、何れにせよ一度は「検索」ボタンを押す必要がある。<br>
  検索された📍は地図上に表示され、また地図の右側で文章や画像を確認することが出来る。これと同じ内容は「地図上に表示された📍」をクリックしても吹き出しで表示されるので、どちらでも好きな方を使ってほしい。<br>
  この「地図の右側」あるいは「地図上の吹き出し」では、<br>
  ・「ピン更新」画面への移動<br>
  ・作業箱を選択し、そこへの追加/削除<br>
  ・プランを選択し、そこへの追加/削除<br>
  を行うことが出来る。ああただ、「ピン更新」画面では位置情報と画像を変更することは出来ない。これはプランに「他人の📍」も追加出来るようになっているためだ。プランに含まれている📍の位置や画像が勝手に変わるかもしれないとなれば、それを他人へ見せるにはよっぽどの度胸が必要となる。<br><br><br>

  <div class="line_info">
    <div class="line_content_1">
      <h4>プランを整える</h4>
    </div>
  </div>
  必要な📍をプランに追加したら、今度はそのプラン自体を見てみよう。<br>
  画面左でプランを選択肢し、「ーーのプランを【編集する】」ボタンを押せばそのプランに含まれるピンが地図上に表示される（「ーーのプランで【ぷらぷらする】」ボタンだと↑で示しているプレゼン画面にいってしまう。そういう時は右上の【Maっぷら】をクリックして、表示された画面でプランの選択からやり直してほしい）。<br>
  このプラン画面で地図の右側に表示されるのは、すでにプランに追加されている📍情報だーーこれは地図上では<span class="pin_sample_blue"></span>のピンとして表示される。一方で追加されていない📍（「📍を見る」画面同様に、検索条件を指定して検索できる）は<span class="pin_sample_red"></span>のピンとして、地図上だけに表示される……地図右側の表示には表示されないのは、不具合ではなく仕様である。<br>
  選択しているプランに対して<span class="pin_sample_blue"></span>のピンは削除できるし、<span class="pin_sample_red"></span>のピンは追加することができる。また<span class="pin_sample_blue"></span>のピン情報は地図右側でドラッグアンドドロップすることで、並び替えすることも可能である。<br><br>
  必要なピンが追加されていること、それが順番通り並び変えられていることを確認したら、今度は「ーーのプランで【ぷらぷらする】」でプラ選択・ボタンクリックしてみてほしい。上手く行けば<br><br>

  <a href="http://mappura.com/plans/5/presentation" class="btn btn-primary btn-sm" >東海道五十三次</a><br><br>

  のように、目論見通りのプレゼンテーション画面が作成されているはずだ。<br><br><br>

  <div class="line_info">
    <div class="line_content_1">
      <h4>プランの編集・プランに所属するピンの編集</h4>
    </div>
  </div>
  ピンに登録されている名称や詳細について、そのプラン専用の変更を加えたい場合もあるかもしれない。<br>
  そんな時は「ーーのプランを【編集する】」で移動した画面でピンを選択し（このピンはプランに所属しているものなのだから、そう、<span class="pin_sample_blue"></span>のやつだ）、「更新」ボタンを押してほしい。移動先の画面で変更した「名称」「詳細」情報は、「プランのピン」には反映されているが「ピンそのもの」には影響しない。<br>
　また「所属している📍」ではなく、「プラン」そのものを編集することもできる。「ーーのプランを【編集する】」で表示した画面の右側、プラン名が付いているボタンを押した先の画面がそれだ。ここでは名称を変更するだけでなく、プラン自体を「非公開」にすることもできる。非公開となったプランは<br><br>

  <a href="http://mappura.com/plans/4/presentation" class="btn btn-primary btn-sm" >シン・ゴジラ（パスワード：sin）</a><br><br>
  のように、表示する時にパスワード（これはユーザーのパスではなく、「非公開」にした時に設定したパスだ）の入力が求められる。

  <br><br>
  こんなふうに、アプリには📍やプランの公開区分を設定する機能も存在するーーが、この機能については過度な信用はしないほうがいいかもしれない。<br>
  なにせこれはプログラミングスクールに4ヶ月通っただけの人間が卒業制作ででっち上げたようなアプリケーションなのだーーといえば、分かる人には分かると思う。コンピュータに詳しい人間が何らかの工夫を凝らした結果、あるいは単純にプログラムが間違っていたために、「非公開」である情報が「公開」されてしまうことも（勿論そのようなことが起きないように、注意していくつもりではあるが）絶対に無いとは言い切れない。<br>
  それにそもそも「非公開」情報も、登録した段階でいずこかには保管されるのだ。もし僕が「非公開」なデータを閲覧したいという誘惑に負けた場合、それを妨げるものは（僕のコンピュータスキル不足以外には）なにもない。
  <br>
だからアプリに登録する情報は、「たとえ公にされたとしても特に問題はない内容」に限定したほうが無難だと思う…… 絶対に流出しない情報なんて、そもそも保管されていない情報くらいしかないのだから。
</div>
</div>
