<div class="search_result_container"   data-controller="pin-index">
  <input name="maps_json" type="hidden" data-target = "pin-index.pins" value= <%= drawing_pins_json %> >
  <!-- <input name="maps_json" type="hidden" data-target = "pin-index.pins" value= <%= drawing_pins_json %>  data-action = "change->pin-index#change_map" > -->
  <div id = "main_index_map" class="index_map_box" data-target="pin-index.map">
  ssss
  </div>
  <div class="index_grid_box">
    <div class="index_grid_head">
      <!-- <div data-controller="maptt"><input type="submit"　data-action="click->maptt#bubble_open_test"></div> -->

      <input value="1111" data-action="change->pin-index#tttt">
      <input type = "submit" data-action="click->pin-index#tttt">

      <div data-controller="tete">
        <input type = "submit" data-action="click->tete#tttt">
      </div>
    </div>
    <% if user_signed_in? %>
      <% currentuser_info = current_user %>
      <% currentuser_workboxes = get_workboxes_as_selectbox_info %>
      <% currentuser_plans = get_plans_as_selectbox_info %>

    <% end %>

    <div class="index_grid_body">
      <% drawing_pins.each_with_index do |pin,i| %>
        <div id = "pin_id_<%= pin.id %>" class="index_grid_item">

          <%= render 'index_item', pin: pin , item_num: i ,currentuser_info: currentuser_info,
          currentuser_workboxes: currentuser_workboxes,currentuser_plans: currentuser_plans ,item_type: 0 %>
          <%# item_type:「0」→グリッド欄のアイテム、「１」→地図上の吹き出し %>

        </div>
      <% end %>
    </div>

  </div>

</div>
