<div  data-controller="maptest">

  <div class="index_search_box">
  </div>

  <div class="search_result">
    <div id = "testyounomap" class="index_map_box" data-target="maptest.map">
    </div>

    <div class="index_grid_box">
    </div>
  </div>

</div>
