<div class="container">
    <div class="row">

        <div class="col-md-3">
            <aside>
                <div class="">
                    <h3>サイドバー</h3>
                    <form class="form-inline mt-2 mt-md-0">
                      <input class="form-control mr-sm-2 retrieval" type="search" placeholder="商品名・種類" aria-label="商品名・種類">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
                    </form>
                </div>

                <div class="">aa</div>
                <div class="">aa</div>
                <div class="">aa</div>

                <div class="">aa</div>
                <div class="">aa</div>
                <div class="">aa</div>

                <div class="">aa</div>
                <div class="">aa</div>
                <div class="">aa</div>

                <div class="">aa</div>
                <div class="">aa</div>
                <div class="">aa</div>
            </aside>
        </div>


        <div class="col-md-9">
            <section class="">
                <h2>メイン</h2>
                <hr>
                <ul>
                    <a href=""><li>●●●●●●●●●●●●●●</li></a>
                </ul>
            </section>
        </div>

    </div>
</div>
