<div class="container">

        <div class="side">


            <div class="">aa</div>
            <div class="">aa</div>
            <div class="">aa</div>

            <div class="">aa</div>
            <div class="">aa</div>
            <div class="">aa</div>

            <div class="">aa</div>
            <div class="">aa</div>
            <div class="">aa</div>

            <div class="">aa</div>
            <div class="">aa</div>
            <div class="">aa</div>
        </div>


        <div class="main">
            <section class="">
                <h2>メイン</h2>
                <hr><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a>
                <a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a>
                <a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a><a href="#">●p</a>
                    <a href="#">●●●●</a>
            </section>
        </div>

</div>
