.presentation{
  // height: 100%;
  // width: 100%;
  // background-color: yellow;

  // white-space: nowrap;
  // overflow-x: auto;
}

.presentation_map{
  min-height: 10vh;
  height: calc(100vh - 280px);
  width: 100vw;
  background-color: gray;
}

.presentation_underform{
  display: flex;
}
.presentation_attribution{
  flex: 0 0 135px;
}

.presentation_title{
width: 80vw;
margin: 0 auto;
}

.presentation_title_and_index{
width: calc(100vw - 245px);
// width: calc(80vw +80px) ;
  position: relative;
}

.presentation_index{
  height: 190px;
  width: calc(100vw - 295px);
  // width: 80vw;
  margin: 0 auto;
  background-color: #F0F0F0;
  border: solid  0.5px black;

  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  // overflow: scroll;
}

.presentation_index_item{
  height: 100%;
  max-width: 140px;
  min-width: 140px;
  border-right: solid 0.2px black;
  background-color: #E6FFE9;
}
.presentation_index_item.selected{
  background-color: #00BFFF;
}

.presentation_index_item:hover{
  opacity:0.6;
}
.btn_presentation_move:hover{
  opacity:0.6;
}
.btn_presentation_move_most:hover{
  opacity:0.6;
}

.index_grid_item_presen_title{
  pointer-events: none;
  width: 100%;
  height: 12%;
}
.index_grid_item_presen_image{
  pointer-events: none;
  width: 100%;
  height: 50%;
}
.index_grid_item_presen_imagecontent{
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.index_grid_item_presen_article{
  pointer-events: none;
  width: 100%;
  height: 35%;
}

.btn.btn_presentation_move{
  height: 150px;
  width: 30px;
  position: absolute;
  background-color: #F0F0F0;
  border: solid 0.8px black;
}
.btn_presentation_move.btn_move_to_left{
  left: -20px;
  top: 40px;
}
.btn_presentation_move.btn_move_to_right{
  right: -20px;
  top: 40px;
}

.btn.btn_presentation_move_most{
  height: 70px;
  width: 30px;
  position: absolute;
  background-color: #F0F0F0;
  border: solid 0.8px black;
}
.btn_presentation_move_most.btn_move_to_leftmost{
  left: -60px;
  top: 80px;
}
.btn_presentation_move_most.btn_move_to_rightmost{
  right: -60px;
  top: 80px;
}

// ボタンの文字を中央に揃える
.btn.btn_presentation_move,.btn.btn_presentation_move_most{
display:flex;
justify-content: center;
align-items: center;
}
// .btn_move_content{
// align-self: center;
// }
