 .index_search_box{
   width: 100%;
   height: 150px;
   background-color: #ccffff;
 }

.search_result{
  width: 100%;
  height: 750px;
  display: flex;
}

.index_map_box{
  width: 100%;
  max-height: 90vh;
  background-color: red;
}

 .index_grid_box{
   width: 480px;
   height: 100%;
   // background-color: green;
 }

.index_grid_head{
  width: 100%;
  height: 10%;
}
.index_grid_body{
 width: 100%;
 height: 90%;
 // background-color: green;
 overflow: scroll;
}

.index_grid_item{
  border: solid 1px black;/*線……あとで消す*/
  width: 100%;
  height: 30%;
}


.index_grid_item_head{
  // border: solid 0.5px black;/*線……あとで消す*/
  height: 12%;
}
.index_grid_item_body{
  height: 52%;
  display: flex;
}
  .index_grid_item_body_left{
    width: 50%;
    height: 100%;
      border: solid 0.3px #6091d3;/*線……あとで消す*/
  }
    .index_grid_item_imagecontent{

    /* この要素のイベント無効化……「地図上移動のためのクリック」でクリック対象にされないようにするため */
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
  .index_grid_item_body_right{
    width: 50%;
    height: 100%;
  }
  .index_grid_item_body_maintext{
    width: 100%;
    height: 75%;
  }
  .index_grid_item_body_fittings{
  width: 100%;
  height: 25%;
  // background-color: blue;
  }


.index_grid_item_line_1{
  // border: solid 1px #6091d3;/*線……あとで消す*/
  height: 18%;
}
.index_grid_item_line_2{
  // border: solid 1px #6091d3;/*線……あとで消す*/
  height: 18%;
}
