.side_bar{
 width: 200px;
 background-color: #E6FFE9;
 flex-shrink:0;
 flex-grow:0;
}

.sidebar_title{
  width: 100%;
  min-height: 45px;
  background-color: #ccffff;
  display: flex;
  flex-direction: column;
}

.form_name{
  display: inline-block;
  text-align: right;
  right:25px;
  margin-top: 8px;
  margin-right: 6px;
}
.form_name_sub{
  display: inline-block;
  text-align: right;
  bottom: 2px;
  right:25px;
}
